.table-container {
    height: 100%; /* Adjust height as needed */
    overflow-y: auto;
    overflow-x: auto;
    flex-grow: 1;
  }

  .my-approvals-filters-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 10px;
  }